
.form-group{
	--bs-border-radius: 8px;
	--bs-border-color: #ccc;

	.input-group {
		position: relative;
		// width: 100%;

		.icon {
			position: absolute;
			left: 16px;
			top: 50%;
			transform: translateY(-50%);
			color: var(--primary-color);
			font-size: 18px;
			cursor: pointer;
			z-index: 10;
		}

		input.form-control{
			border-radius: var(--bs-border-radius) !important;
			padding-left: 2.25rem;
			// width: calc(100% - 2px);
			background-color: #fff;
			text-align: center;
		}
	}

	input.form-control {
		&[type='text'],
		&[type='number'],
		&[type='datetime-local'],
		&[type='date'],
		&[type='time'] {
		}

		&[type='date'],
		&[type='time'],
		&[type='datetime'],
		&[type='datetime-local']{
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;

			height: 50px;
			font-size: 14px;

			&::-webkit-calendar-picker-indicator {
				display: none;
				-webkit-appearance: none;
			}
		}
	}
}

.form-group--checkbox{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 0.5rem;

	label{
		cursor: pointer;
		margin: 0;
	}

	input{
		cursor: pointer;
		margin-top: 5px;
	}
}
