body.page-pills {
	h1 {
		text-align: center;
		color: $primary-color;
		margin: 10px 0 20px;
		font-weight: bold;
		font-size: 20px;
	}

	.pill-section {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.pill {
		border-radius: 12px;
		padding: 12px 16px;
		display: flex;
		flex-direction: column;
		gap: 6px;
		margin: 0;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

		font-size: 14px;

		.pill-category {
			font-size: 1.0em;
			font-weight: 600;
		}

		.pill-title {
			font-size: 1.3em;
			font-weight: 600;
		}

		.pillola-excerpt {
			font-size: 1em;
		}

		.pill-link {
			display: inline-block;
			margin-top: 10px;
			font-weight: bold;
			text-decoration: none;
			font-size: 14px;
		}

		.pill-content {
			margin-top: 10px;
		}
	}
}
