body.page-checkup {
	app-card {
		display: block;
		margin-bottom: 1.5rem;
	}

	h1 {
		text-align: center;
		color: $primary-color;
		margin: 10px 0 20px;
		font-weight: bold;
		font-size: 20px;
	}

	.checkup-section {
		font-size: 14px;
		line-height: 1.5;
		color: #555;

		img {
			width: 100%;
			border-radius: 12px;
			margin-top: 16px;
		}
	}

	.checkup-cta-grid {
		margin-top: 10px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}

	.steps {
		background: #f5efff;
		border-left: 4px solid #a054c4;
		padding: 12px 16px;
		border-radius: 8px;
		margin-top: 16px;
		font-size: 14px;

		p {
			margin: 6px 0;
		}
	}

	form {
		margin-top: 20px;
	}

	textarea {
		width: 100%;
		margin-bottom: 12px;
		border-radius: 8px;
		padding: 10px;
		border: 1px solid #ccc;
		font-family: 'Inter', sans-serif;
		box-sizing: border-box;
		resize: vertical;
		min-height: 80px;
	}

	.upload-btn-wrapper {
		position: relative;
		margin-bottom: 20px;
		width: 100%;

		input[type='file'] {
			font-size: 100px;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			cursor: pointer;
		}
	}

	.btn-upload {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #f0d9ff;
		color: #6d2a93;
		padding: 12px;
		border-radius: 8px;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		cursor: pointer;
		gap: 10px;

		i {
			font-size: 16px;
		}
	}

	button.cta-button {
		width: 100%;
		background: #6d2a93;
		color: white;
		padding: 12px;
		border: none;
		border-radius: 8px;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		cursor: pointer;
	}

	.disclaimer {
		margin-top: 16px;
		font-size: 12px;
		color: #999;
		text-align: center;
	}

	.product-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 1rem;
		margin-top: 1rem;
	}

	.product-card {
		border: 1px solid #ddd;
		padding: 1rem;
		border-radius: 12px;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
	}
	.upload-btn-wrapper input[type='file'] {
		display: none;
	}

	.checkupResult {
		display: none;
		margin-top: 2rem;
	}

	.analysis-content strong {
		color: #6d2a93;
		font-weight: 600;
	}
}
