:root {
	--bs-primary: #{$primary-color};
	// --bs-secondary: #6c757d;
	// --bs-success: #198754;
	// --bs-info: #0dcaf0;
	// --bs-warning: #ffc107;
	// --bs-danger: #dc3545;
	// --bs-light: #f8f9fa;
	// --bs-dark: #212529;
	--bs-primary-rgb: 128, 49, 170;
	// --bs-secondary-rgb: 108, 117, 125;
	// --bs-success-rgb: 25, 135, 84;
	// --bs-info-rgb: 13, 202, 240;
	// --bs-warning-rgb: 255, 193, 7;
	// --bs-danger-rgb: 220, 53, 69;
	// --bs-light-rgb: 248, 249, 250;
	// --bs-dark-rgb: 33, 37, 41;
	--bs-primary-text-emphasis: #650545;
	// --bs-secondary-text-emphasis: #2b2f32;
	// --bs-success-text-emphasis: #0a3622;
	// --bs-info-text-emphasis: #055160;
	// --bs-warning-text-emphasis: #664d03;
	// --bs-danger-text-emphasis: #58151c;
	// --bs-light-text-emphasis: #495057;
	// --bs-dark-text-emphasis: #495057;
	--bs-primary-bg-subtle: #ffcff9;
	// --bs-secondary-bg-subtle: #e2e3e5;
	// --bs-success-bg-subtle: #d1e7dd;
	// --bs-info-bg-subtle: #cff4fc;
	// --bs-warning-bg-subtle: #fff3cd;
	// --bs-danger-bg-subtle: #f8d7da;
	// --bs-light-bg-subtle: #fcfcfd;
	// --bs-dark-bg-subtle: #ced4da;
	--bs-primary-border-subtle: #fe9ef8;
	// --bs-secondary-border-subtle: #c4c8cb;
	// --bs-success-border-subtle: #a3cfbb;
	// --bs-info-border-subtle: #9eeaf9;
	// --bs-warning-border-subtle: #ffe69c;
	// --bs-danger-border-subtle: #f1aeb5;
	// --bs-light-border-subtle: #e9ecef;
	// --bs-dark-border-subtle: #adb5bd;
	// --bs-white-rgb: 255, 255, 255;
	// --bs-black-rgb: 0, 0, 0;
	// --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	// --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	// --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	// --bs-body-font-family: var(--bs-font-sans-serif);
	// --bs-body-font-size: 1rem;
	// --bs-body-font-weight: 400;
	// --bs-body-line-height: 1.5;
	// --bs-body-color: #212529;
	// --bs-body-color-rgb: 33, 37, 41;
	// --bs-body-bg: #fff;
	// --bs-body-bg-rgb: 255, 255, 255;
	// --bs-emphasis-color: #000;
	// --bs-emphasis-color-rgb: 0, 0, 0;
	// --bs-secondary-color: rgba(33, 37, 41, 0.75);
	// --bs-secondary-color-rgb: 33, 37, 41;
	// --bs-secondary-bg: #e9ecef;
	// --bs-secondary-bg-rgb: 233, 236, 239;
	// --bs-tertiary-color: rgba(33, 37, 41, 0.5);
	// --bs-tertiary-color-rgb: 33, 37, 41;
	// --bs-tertiary-bg: #f8f9fa;
	// --bs-tertiary-bg-rgb: 248, 249, 250;
	// --bs-heading-color: inherit;
	--bs-link-color: var(--bs-primary);
	--bs-link-color-rgb: var(--bs-primary-rgb);
	// --bs-link-decoration: underline;
	--bs-link-hover-color: var(--bs-primary-border-subtle);
	--bs-link-hover-color-rgb: 254, 158, 248;
	// --bs-code-color: #d63384;
	// --bs-highlight-color: #212529;
	// --bs-highlight-bg: #fff3cd;
	// --bs-border-width: 1px;
	// --bs-border-style: solid;
	// --bs-border-color: #dee2e6;
	// --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
	// --bs-border-radius: 0.375rem;
	// --bs-border-radius-sm: 0.25rem;
	// --bs-border-radius-lg: 0.5rem;
	// --bs-border-radius-xl: 1rem;
	// --bs-border-radius-xxl: 2rem;
	// --bs-border-radius-2xl: var(--bs-border-radius-xxl);
	// --bs-border-radius-pill: 50rem;
	// --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	// --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	// --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
	// --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	// --bs-focus-ring-width: 0.25rem;
	// --bs-focus-ring-opacity: 0.25;
	--bs-focus-ring-color: rgba(253, 13, 229, 0.25);
	// --bs-form-valid-color: #198754;
	// --bs-form-valid-border-color: #198754;
	// --bs-form-invalid-color: #dc3545;
	// --bs-form-invalid-border-color: #dc3545;
}

.btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);

	--bs-btn-hover-border-color: #{$primary-dark-color};
	--bs-btn-hover-bg: var(--bs-primary);
	--bs-btn-hover-color: #fff;

	--bs-btn-focus-shadow-rgb: 248, 49, 253;

	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #{$primary-color-1};
	--bs-btn-active-border-color: #{$primary-color-1};
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

	--bs-btn-disabled-opacity: 0.85;
	--bs-btn-disabled-color: #000;
	--bs-btn-disabled-bg: #b8a3c4;
	--bs-btn-disabled-border-color: #b8a3c4;

	--bs-btn-font-weight: bold;
	--bs-btn-border-radius: 8px;
	--bs-btn-padding: 10px;
}

.btn-outline-primary {
	--bs-btn-color: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: var(--bs-primary);
	--bs-btn-hover-border-color: var(--bs-primary);
	--bs-btn-focus-shadow-rgb: 13, 110, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--bs-primary);
	--bs-btn-active-border-color: var(--bs-primary);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--bs-primary);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--bs-primary);
	--bs-gradient: none;
	--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(249, 13, 253, .5);
}

.form-control:focus {
	border-color: #fe86ef;
	box-shadow: 0 0 0 0.25rem rgb(253 13 226 / 25%);
}

.nav {
	--bs-nav-link-color: var(--bs-link-color);
	--bs-nav-link-hover-color: var(--bs-link-hover-color);
}
.nav-link:focus-visible {
	box-shadow: 0 0 0 0.25rem rgba(209, 13, 253, 0.25);
}

.form-check-input {
	&:checked {
		background-color: var(--bs-primary);
		border-color: var(--bs-primary);
	}
	&:focus {
		border-color: #da86fe;
		box-shadow: 0 0 0 0.25rem rgba(193, 13, 253, 0.25);
	}
}

.card-header {
	border-bottom: none;
	background-color: white;
	padding-inline: 0;
}


.accordion {
	--bs-accordion-active-color: inherit;
	--bs-accordion-active-bg: inherit;
	--bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(128, 49, 170, 0.4);
}

.form-check-input[type="radio"] {
		border-color: #d13bb6 !important;
	}