.toastify.my-toast.on {
	// font-family: 'Inter', sans-serif;
	border-radius: 12px;
	padding: 10px 16px;
	font-size: 1rem;
	cursor: auto;
	padding-right: 45px;
	// margin-left: 12px;
	// margin-right: 12px;

	// display: flex;
	// flex-direction: row;
	// justify-content: center;
	// align-items: center;
	// max-width: calc(100vw - (24px * 2));


	.toast-close{
		position: absolute;
		top: 12px;
		right: 12px;
		z-index: 10;
		opacity: 1;
	}

	.toast-body{
		display: flex;	
		flex-direction: row;
		// justify-content: center;
		// align-items: center;
		gap: 12px;

		.toast-avatar {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			object-fit: cover;
			border: 2px solid white;
		}

		.toast-message {
			display: flex;
			align-items: center;
		}
	}
}
