html,
body {
	margin: 0;
	padding: 0;

	min-height: 100vh;
	min-height: 100svh;
}

body {
	font-family: 'Inter', sans-serif;

	background: $body-bg;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	color: var(--text-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 20px;

	&.page-app.loading #app {
		// display: none;
	}
}

#app {
	width: 100%;
	max-width: var(--app-width);
}
