body.page-profile {
	.card{
		margin-bottom: 20px;
	}

	h1,
	h2 {
		text-align: center;
		color: $primary-color;
		font-weight: 700;
		font-size: 22px;
		margin-bottom: 20px;
	}

	// Blocchi di info stile scheda (NON form)
	.info-block {
		background: #f9f9f9;
		padding: 15px;
		border-radius: 8px;
	}

	.info-line {
		margin-bottom: 10px;
		font-size: 14px;
		color: #333;

		strong {
			color: #555;
			margin-right: 5px;
		}
	}

	// Solo form styling
	form {
		label {
			font-weight: 600;
			margin-top: 12px;
			margin-block: 10px;
			display: block;
			color: #555;
		}

		input[type='password'] {
			width: 100%;
			padding: 10px;
			margin-top: 6px;
			border-radius: 8px;
			border: 1px solid #ccc;
			font-size: 14px;
			box-sizing: border-box;
		}

		.error-msg {
			color: #d00;
			font-size: 13px;
			margin-top: 5px;
			display: none;
		}

		.cta-submit {
			margin-top: 20px;
			background: $primary-color;
			color: white;
			padding: 12px;
			border: none;
			border-radius: 8px;
			font-size: 16px;
			font-weight: bold;
			cursor: pointer;
			width: 100%;
		}

	}

	.form-check-input,
	.form-check-label{
		cursor: pointer;
	}

	#headingPrivacy, #headingDelete  {
		margin-bottom: 0;
	}

	.accordion-button {
		color: $primary-color;
		font-weight: 700;
	}
}
