body.page-pill {
	h1 {
		text-align: center;
		color: $primary-color;
		margin: 10px 0 20px;
		font-weight: bold;
		font-size: 20px;
	}

	.pill{
		margin: 0;
	}

	.pill-tag {
		font-size: 12px;
		color: white;
		background: #cc50c9;
		padding: 2px 8px;
		border-radius: 8px;
		display: inline-flex;
		align-items: center;
		gap: 4px;
		margin-bottom: 12px;

		i {
			font-size: 12px;
		}
	}

	.pill-content {
		font-size: 14px;
		color: #555;
		line-height: 1.6;

		h2{
			font-size: 1.3em;
			font-weight: bold;
		}

		ul {
			padding-left: 20px;
			margin-top: 6px;

			li {
				margin-bottom: 6px;
			}
		}

		p:last-child{
			margin-bottom: 0;
		}
	}

	.highlight-box {
		background: #f0e1ff;
		border-left: 4px solid #6d2a93;
		padding: 10px;
		margin: 16px 0;
		font-style: italic;
		color: #333;
		border-radius: 8px;
	}

	.pill-actions {
		display: flex;
		justify-content: space-between;
		margin-top: 24px;

		button {
			color: white;
			border: none;
			padding: 10px 16px;
			border-radius: 8px;
			font-size: 13px;
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 6px;
		}
	}
}
