@import 'vars';
@import 'root';
@import 'bs_overwrite';
@import 'bases';
@import 'header';
@import 'footer';
@import 'components';
@import 'utilities';
@import 'forms';
@import 'login';
@import 'body';
@import 'page-chatbot';
@import 'page-promotions';
@import 'page-prenotazioni';
@import 'page-servizi';
@import 'page-eventi';
@import 'page-reminders';
@import 'cart';
@import 'page-punti-benessere';
@import 'page-archivio-ordini';
@import 'page-farmacia-preferita';
@import 'page-checkup';
@import 'page-farmacia';
@import 'page-pillola-benessere';
@import 'page-pillole-archivio';
@import 'page-smaltimento-farmaci';
@import 'dashboard';
@import 'page-sfida-benessere';
@import 'page-quiz';
@import 'page-questionario';
@import 'page-profilo';
@import 'toast';
@import 'bottom-bar';
